.projectMain {
  --formHeight: 530px;

  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: var(--space5XL);

  @media (--mediaMobile) {
    padding-top: 0;
  }
}

.projectContainer {
  grid-area: 1 / 1;
  max-width: var(--maxWidthL);
  width: 100%;
  padding: var(--space2XL) 0;

  @media (--mediaMobile) {
    padding: var(--space5XL) 0 var(--space2XL);
    align-self: flex-start;
  }
}

.columns {
  margin: 20px 0 60px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  margin: 40px 0;

  @media (--mediaTablet) {
    grid-template-columns: 1fr;
  }
}

.gridImage {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
  grid-column: 1;
  grid-row: 1;

  @media (--mediaLaptop) {
    grid-template-rows: 1fr;
  }
}

.gridBackground {
  grid-column: 1;
  grid-row: 1 / span 2;

  @media (--mediaTablet) {
    padding: 0 120px;
  }

  @media (--mediaMobile) {
    padding: 0 60px;
  }
}

.gridForeground {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  right: -140px;
  bottom: 40px;
  align-self: flex-end;
  width: 110%;

  @media (--mediaLaptop) {
    width: auto;
    left: auto;
    right: auto;
  }
}

.gridText {
  padding-top: 80px;

  @media (--mediaDesktop) {
    padding-top: 40px;
  }

  @media (--mediaTablet) {
    padding-top: 0;
  }
}

.sidebarImages {
  display: grid;
  grid-template-columns: repeat(6, [col] 1fr);
  align-items: center;

  @media (--mediaTablet) {
    padding: 0 80px;
    margin-top: 60px;
  }

  @media (--mediaMobile) {
    padding: 0 20px;
    margin-top: 40px;
  }
}

.sidebarImagesText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;

  @media (--mediaTablet) {
    padding-right: 0;
  }
}

.sidebarImage {
  &:first-child {
    grid-column: col 1 / span 4;
    grid-row: 1;
    position: relative;
    top: 5%;
    opacity: 0.4;
  }

  &:last-child {
    grid-column: col 3 / span 4;
    grid-row: 1;
    position: relative;
    top: -5%;
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-bottom: var(--space2XL);
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--space5XL), 0);
  }

  &[data-status='entering'],
  &[data-status='entered'] {
    transform: none;
    opacity: 1;
  }

  &[data-status='exiting'] {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: translate3d(0, calc(var(--space2XL) * -1), 0);
    }
  }
}

.divider {
  margin-bottom: var(--space3XL);
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--delay);
  opacity: 0;

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--space5XL), 0);
  }

  &[data-status='entering'],
  &[data-status='entered'] {
    transform: none;
    opacity: 1;
  }

  &[data-hidden='true'] {
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: translate3d(0, var(--space5XL), 0);
    }
  }

  &[data-status='exiting'] {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;

    @media (--mediaUseMotion) {
      transform: translate3d(0, calc(var(--space2XL) * -1), 0);
    }
  }
}